body 
{
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
   text-align: center;
}

/*Header and navigation*/

header{

    background-color: black;
    padding-top: 10px;
}

nav{

display:flex ;
justify-content:center  ;
border-bottom: 1px;

}


h2 {
color : white;
}

main{
    display: flex;
    justify-content: center;
}

article, .form-container {

    background-color: white;
    width: 60%;
    padding : 40px;
    text-align: left;
}

h2,h3,h4 {
    color : #333 ;
}

p{
    line-height: 1.6;
    color : #444;
}